version: "3.8"

services:
    sonarqube:
        image: sonarqube:community
        container_name: sonarqube
        environment:
            SONAR_JDBC_URL: jdbc:postgresql://host.docker.internal:5432/postgres
            SONAR_JDBC_USERNAME: postgres
            SONAR_JDBC_PASSWORD: Orien123
        ports:
            - "9000:9000"
        volumes:
            - sonarqube_data:/opt/sonarqube/data
            - sonarqube_extensions:/opt/sonarqube/extensions
            - sonarqube_logs:/opt/sonarqube/logs

volumes:
    sonarqube_data:
    sonarqube_extensions:
    sonarqube_logs:

