name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install Dependencies
      run: |
        cd language-server && bun install --frozen-lockfile
        cd ../vscode-extension && bun install --frozen-lockfile

    - name: Install Linux Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb libasound2t64 libgbm1 libgtk-3-0t64 libnss3

    - name: Run Language Server Tests & Benchmarks
      working-directory: language-server
      run: |
        bun run test
        bun run benchmark

    - name: Run VS Code Extension Tests & Benchmarks
      working-directory: vscode-extension
      run: |
        xvfb-run -a bun run test
        xvfb-run -a bun run benchmark
